*{
    margin: 0;
    padding: 0;
}
.sideleft{
    position: fixed;
      right:0;
      width: 250px;
      height: 100%;
       background-color: rgba(205, 27, 27, 0.1);
  }
  .sideright{
    position: fixed;
      left:0;
      width: 250px;
      height: 100%;
       background-color: rgba(205, 27, 27, 0.1);   
  }
.button{
    width: 80px;
    height: 80px;
    font-size :40px;
    margin-top: 2px;
    margin-left: 25px;
    border-radius: 25px;
    background-color: rgb(190, 135, 190);

}
.textview{
    background-color: rgb(212, 212, 135);
    margin-left: 25px;
    width: 400px;
    height: 40px;

}
.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
}